{% load static %}
<div class="register modal-mask" style="display: none;">
    <div class="modal-container">
        <div style="text-align: right">
            <img src="{% static 'images/close.svg' %}" onclick="showModal('.register', false)" style="cursor: pointer" />
        </div>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div>
                <input type="text" placeholder="Введите логин">
            </div>
            <div>
                <input type="text" placeholder="Введите пароль">
            </div>
            <div>
                <input type="text" placeholder="Повторите пароль">
            </div>
            <div>
                <input type="text" placeholder="Имя">
            </div>
            <div>
                <input type="text" placeholder="Фамилия">
            </div>
            <div>
                <input type="submit" class="form-btn" value="Регистрация">
            </div>
        </form>
    </div>
</div>